<div class="row card-group">
  <div class="col-md-12">
    <div class="table-responsive" #table="stTable" stTable>
      <table class="m-0 table no-border table-striped">
        <tbody>
        <tr>
          <td colspan="2" class="text-center no-border">
            <div class="form-group m-0 row">
              <input id="search" placeholder="Rechercher contact ..." type="search"
                class="form-control input-sm" stDebounceTime="800" stSearch="contact_name">
            </div>
          </td>
          <td colspan="6" class="no-border">
            <a class="btn btn-info btn-sm pull-right" [routerLink]="['/income/invoice/add']">Ajouter facture</a>
            <button type="button" class="btn btn-link btn-sm pull-right"
                    (click)="exportToExcel(table.items, 'invoices')">
              Télécharger
            </button>
          </td>
        </tr>
        <tr>
          <th stSort="id">N°</th>
          <th stSort="contact_name" class="width-25" translate>nav.CONTACT</th>
          <th translate>common.CATEGORY</th>
          <th stSort="subtotal" class="text-right" translate>income.TOTAL</th>
          <th stSort="balance" class="text-right" translate>status.UNPAID</th>
          <th stSort="invoiced_at" class="text-right" translate>income.INVOICED_AT</th>
          <th stSort="created_at" class="text-right" translate>status.CREATED</th>
        </tr>
        <tr>
          <td class="text-center" colspan="8" *ngIf="table.busy">
            <i class="fa fa-spin fa-spinner"></i>
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="8" *ngIf="table.items.length === 0 && !table.busy">
            Aucun enregistrement
          </td>
        </tr>
        <tr [hidden]="table.busy" *ngFor="let invoice of table.items">
          <td>
            <a href *ngIf="invoice.id" [routerLink]="['/income/invoice/detail', invoice.id]">{{invoice.id}}</a>
          </td>
          <td>
            <a href class="text-normal" *ngIf="invoice.contact_id" [routerLink]="['/contact/detail', invoice.contact_id]">
              {{invoice.contact_name || invoice?.Contact.name}}
            </a>
          </td>
          <td>
            {{invoice.Category?.name}}
            <span class="d-block text-opacity-6 text-uppercase font-size-13">
              {{'status.' + invoice.status | translate}}
            </span>
          </td>
          <td class="text-right">
            {{invoice.amount | currency:'MGA':''}}
          </td>
          <td class="text-right">
            {{invoice.balance | currency:'MGA':''}}
          </td>
          <td class="text-right">
            {{invoice.invoiced_at | date:'mediumDate'}}
          </td>
          <td class="text-right">
            {{invoice.created_at | date:'dd MMM yyyy'}}
            <span class="d-block text-opacity-6 font-size-13">
                {{invoice.created_at | date:'HH:mm'}}
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<hr style="margin: 0;"/>

<div class="row padding-10" stPagination #pager="stPagination">
  <div class="col-lg">
    <div style="width: 200px;">
      <div class="d-inline">Afficher</div>
      <select class="form-control d-inline mx-2 width-35" [(ngModel)]="pager.size"
              (ngModelChange)="smartTableService.slice(_table, pager)">
        <option [value]="item" *ngFor="let item of displayedRows">
          {{item}}
        </option>
      </select>
      <div class="d-inline">lignes</div>
    </div>
  </div>

  <div class="col-lg text-center">
    <div class="btn btn-link disabled">
      {{pager.length > 0 ? pager.lowerBoundIndex + 1 : 0}} - {{(pager.higherBoundIndex || -1) + 1}} sur
      {{pager.length || 0}}
    </div>
  </div>

  <div class="col-lg">
    <div class="btn-group pagination pull-right">
      <button type="button" class="btn btn-default" (click)="pager.selectPreviousPage()"
              [disabled]="!pager.isPreviousPageEnabled()">
        <i class="ti-arrow-left"></i>
      </button>
      <button type="button" class="btn btn-default" (click)="pager.selectNextPage()"
              [disabled]="!pager.isNextPageEnabled()">
        <i class="ti-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
