<div class="container-fluid">
  <div class="pdd-horizon-30">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="card">
          <div class="tab-info">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a href="#tab-detail" class="nav-link active" role="tab" data-toggle="tab">
                  DETAILS
                </a>
              </li>
              <!-- <li class="nav-item">
                <a href="#tab-history" class="nav-link" role="tab" data-toggle="tab">
                  HISTORIQUE
                </a>
              </li> -->
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="tab-detail">
                <form role="form" [formGroup]="form" (ngSubmit)="save()" autocomplete="off" novalidate>
                  <div class="padding-30">
                    <div class="form-group row">
                      <div class="col-lg">
                        <label translate>common.TITLE</label>
                        <input class="form-control" formControlName="title"
                          [class.error]="submitted && form.get('title').status === 'INVALID'">
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-lg">
                        <label translate>common.CONTENT</label>
                        <div formControlName="content" [ngxSummernote]="config"></div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-lg-2">
                        <label translate>common.PRIORITY</label>
                        <input type="number" class="form-control" formControlName="priority"
                          [class.error]="submitted && form.get('priority').status === 'INVALID'">
                      </div>
                      <div class="col-lg-5">
                        <label translate>common.EXPIRATION_DATE</label>
                        <div class="timepicker-input input-icon">
                          <i class="ti-time"></i>
                          <input class="form-control" #dt="ngbDatepicker" [placement]="'top'" [readOnly]="true"
                            (click)="dt.toggle()" formControlName="expiration_date" [minDate]="minDate" ngbDatepicker
                            [class.error]="submitted && form.get('expiration_date').status === 'INVALID'">
                        </div>
                      </div>
                      <div class="col-lg-5">
                        <label translate>common.SIGNATURE</label>
                        <div
                          class="btn-group btn-group-toggle width-100"
                          formControlName="is_signature_required"
                          ngbRadioGroup
                        >
                          <label
                            ngbButtonLabel
                            style="width: 50% !important;"
                            [attr.class]="
                              submitted && form.get('is_signature_required').status === 'INVALID'
                                ? 'btn btn-outline-danger'
                                : 'btn btn-default'
                            ">
                            <input ngbButton type="radio" [value]="true"/> OUI
                          </label>
                          <label
                            ngbButtonLabel
                            class="btn"
                            style="width: 50% !important;"
                            [attr.class]="
                              submitted && form.get('is_signature_required').status === 'INVALID'
                                ? 'btn btn-outline-danger'
                                : 'btn btn-default'
                            ">
                            <input ngbButton type="radio" [value]="false"/> NON
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-lg-6">
                        <label translate>common.ROLES</label>
                        <ng-select [items]="roles" bindLabel="display_name" formControlName="permissions"
                          [ngClass]="{'error': submitted && form.get('permissions').status === 'INVALID'}"
                          [hideSelected]="true" [multiple]="true" [clearable]="true" [searchable]="true">
                        </ng-select>
                      </div>
                      <div class="col-lg-6">
                        <label translate>common.LOCATIONS</label>
                        <ng-select [items]="['TNR']" bindLabel="title" formControlName="locations"
                          [ngClass]="{'error': submitted && form.get('locations').status === 'INVALID'}"
                          [hideSelected]="true" [multiple]="true" [clearable]="true">
                          <ng-template ng-label-tmp let-item="item">
                            {{item | uppercase}}
                          </ng-template>
                          <ng-template ng-option-tmp let-item="item">
                            {{item | uppercase}}
                          </ng-template>
                        </ng-select>
                      </div>
                    </div>
                  </div>

                  <div class="border top pdd-vertical-15 pdd-horizon-30 text-right">
                    <button type="submit" class="btn btn-info mr-0" appXhrBtnIndicator>
                      <i class="fa fa-save"></i>
                    </button>
                  </div>
                </form>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab-history">
                <div class="table-responsive">
                  <table class="m-0 table no-border table-striped">
                    <thead>
                      <tr>
                        <th class="no-border">Etat</th>
                        <th class="no-border">Res. n°</th>
                        <th class="no-border">Durée</th>
                        <th class="no-border">Début</th>
                        <th class="no-border">Fin</th>
                        <th class="no-border">Contact</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="">
                        <td colspan="6" class="text-center">Aucun enregistrement.</td>
                      </tr>
                      <tr *ngFor="let history of Announcement?.audit; let i=index;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card overflow-hidden">
          <div class="p-3 border bottom pdd-vertical-15 text-dark">
            SIGNATURES
          </div>

          <p class="text-center py-3 mb-0" *ngIf="Announcement?.signatures.length === 0">Aucune signature</p>

          <ul class="list-group">
            <li class="list-group-item no-border" *ngFor="let item of Announcement?.signatures">
              <div class="list-info">
                <img class="thumb-img pointer" [docType]="'photo'" (click)="imageService.preview(item?.photo, 'photo')"
                  [docId]="item?.photo" *ngIf="item?.photo" appImagesrc>
                <img class="thumb-img pointer" src="assets/images/p0.jpg" [hidden]="item?.photo">
                <div class="info">
                  <span class="title pointer" [title]="item.user_name" [routerLink]="['/settings/user/edit/', item.user_id]">
                    {{(item.user_name | slice:0:15) + '.'}}
                  </span>
                  <span class="sub-title">{{item?.created_at | date:'dd MMM yyyy HH:mm'}}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

