<div class="modal-body height-100">
  <div class="vertical-align text-center">
    <div class="table-cell">
      <div class="container">
        <div class="row">
          <div class="col-md-auto mr-auto ml-auto" style="max-width: 45%;">
            <a class="pull-right text-white absolute pointer" style="right: 2.6px; top: -14px; text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);"
              (click)="dismiss()">
              <i class="fa fa-times-circle-o fa-2x"></i></a>
            <img alt="" [docType]="type" [docId]="idPhoto" style="max-width: 100%;" appImagesrc>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
