.table {
    border-left: 0;
    border-right: 0;
}

.table thead tr:last-child th, .table thead tr th[rowspan] {
    border-bottom-width: 2px;
}

.table thead {
    position: sticky;
    top: 60px;
    background: white;
}

.table thead th {
    border-bottom: 0;
    position: relative;
}

.table thead th:after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #d4deee;
}

.table td:first-child, .table th:first-child {
    border-left: 0;
}

.table td:last-child, .table th:last-child {
    border-right: 0;
}