<div class="container-fluid">
  <div class="pdd-horizon-30">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="table-responsive" stTable #table="stTable">
            <table class="table table-striped no-border m-0">
              <tr>
                <td colspan="3" class="border-top-0">
                  <input type="search" class="form-control input-sm" placeholder="Rechercher ID, Nom, Email ..."
                         stSearch="id,company_name,company_email">
                </td>
                <td colspan="4" class="border-top-0 text-right">
                  <a href class="btn btn-info btn-sm" [routerLink]="['/settings/company/add']">Ajouter compagnie</a>
                </td>
              </tr>
              <tr>
                <th class="text-center">Etat</th>
                <th stSort="id">ID</th>
                <th>Nom</th>
                <th>Domain</th>
                <th>Email</th>
                <th>Meta</th>
                <th class="width-10 text-center">Action</th>
              </tr>
              <tr>
                <td class="text-center" colspan="7" *ngIf="!table.busy && table.items?.length === 0">
                  Aucune compagnie
                </td>
              </tr>
              <tr *ngFor="let item of mapData(table.items)">
                <td class="text-center">
                  <i class="fa"
                    [ngClass]="{'fa-check-circle text-success': item.value.id === currentCompanyId, 'fa-times-circle': item.value.id !== currentCompanyId}"></i>
                </td>
                <td>{{item.value.id}}</td>
                <td>{{item.value.company_name}}</td>
                <td>{{item.value.domain}}</td>
                <td>{{item.value.company_email}}</td>
                <td>{{item.value.company_meta | json}}</td>
                <td class="text-center">
                  <button class="btn btn-sm btn-info btn-icon m-0" (click)="edit(item.value.id)">
                    <i class="fa fa-pencil"></i>
                  </button>
                </td>
              </tr>
            </table>
          </div>

          <hr style="margin: 0;" />

          <div class="row padding-10" stPagination #pager="stPagination">
            <div class="col-lg">
              <div style="width: 200px;">
                <div class="d-inline">Afficher</div>
                <select class="form-control d-inline mx-2 width-35" [(ngModel)]="pager.size"
                  (ngModelChange)="smartTableService.slice(_table, pager)">
                  <option [value]="item" *ngFor="let item of appService.displayedRows">
                    {{item}}</option>
                </select>
                <div class="d-inline">lignes</div>
              </div>
            </div>

            <div class="col-lg text-center">
              <div class="btn btn-link disabled">
                {{pager.length > 0 ? pager.lowerBoundIndex + 1 : 0}} - {{(pager.higherBoundIndex || -1) + 1}} sur
                {{pager.length || 0}}
              </div>
            </div>

            <div class="col-lg">
              <div class="btn-group pagination pull-right">
                <button type="button" class="btn btn-default" (click)="pager.selectPreviousPage()"
                  [disabled]="!pager.isPreviousPageEnabled()">
                  <i class="ti-arrow-left"></i>
                </button>
                <button type="button" class="btn btn-default" (click)="pager.selectNextPage()"
                  [disabled]="!pager.isNextPageEnabled()">
                  <i class="ti-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
