<div class="modal-header border bottom">
  <h4 class="card-title text-info mb-2">Insertion facture / cotisation</h4>
  <button type="button" class="close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form role="form" [formGroup]="addInvoiceForm" autocomplete="off" novalidate (submit)="save()">
  <div class="card-block card-item ps" perfectScrollbar>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <label class="col-lg-2 col-form-label text-lg-right" translate>nav.CONTACT</label>

          <div class="col-lg-3">
            <ng-select [items]="data?.Contacts" formControlName="contact"
              [ngClass]="{'error': submitted && addInvoiceForm.controls.contact.invalid}" [notFoundText]="(data && !data.Contacts?.length)? 'Contact de l\'intervention requis': 'Aucun résultat'">
              <ng-template ng-label-tmp let-item="item">
                {{item.name}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item">
                {{item.name}}
                <br/>
                <span style="color: #6f748a;">
                  {{item.phone}} -
                  {{item.id_cin}} -
                  {{item.id_passport}}
                </span>
              </ng-template>
            </ng-select>
          </div>

          <label class="offset-lg-1 col-lg-3 col-form-label text-lg-right">N° Quittance</label>

          <div class=" col-lg-3">
            <div class="form-group">
              <input type="text" class="form-control bg-transparent" formControlName="invoice_number"
                [class.error]="submitted && addInvoiceForm.controls.invoice_number.invalid">
            </div>
          </div>
        </div>

        <div class="row">
          <label class="col col-form-label text-lg-right" translate>contact.PHONE_ABR</label>

          <label class="col-lg-3 col-form-label">{{addInvoiceForm.controls.contact.value?.phone | mask:'000 00 000 00'}}</label>

          <label class="offset-lg-1 col-lg-3 col-form-label text-lg-right" translate>income.INVOICED_AT</label>

          <div class="col-lg-3">
            <div class="form-group">
              <div class="timepicker-input input-icon">
                <i class="ti-time"></i>
                <input type="text" class="form-control" formControlName="invoiced_at"
                  ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" [readonly]="true"
                  [class.error]="submitted && addInvoiceForm.controls.invoiced_at.invalid">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <label class="col-2 col-form-label text-lg-right" translate>common.CATEGORY</label>

          <div class="col-lg-3 col-form-label" [class.font-weight-bold]="category?.name" [class.font-style-italic]="!category?.name">
            {{ category?.name || 'Non-défini' }}
          </div>

          <label class="offset-lg-1 col-lg-3 col-form-label text-lg-right">Année scolaire</label>
          
          <div class="col-lg-3">
            <input class="form-control" formControlName="school_year" [readonly]="school_year" mask="0000 - 0000" [dropSpecialCharacters]="false" [class.error]="submitted && addInvoiceForm.controls.school_year.invalid">
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col-lg-12">
            <div formArrayName="InvoiceItems">
              <div class="form-group m-0">
                <div class="">
                  <label>Produits/services</label>
                </div>
                <table class="table table-bordered table-item">
                  <thead>
                    <tr class="font-weight-bold bg-light">
                      <th class="text-center" style="width: 7%;">
                        <i class="fa fa-navicon"></i>
                      </th>
                      <th class="" translate>common.NAME</th>
                      <th class="width-10 text-center">Effectif</th>
                      <th class="width-15 text-right">Cotisation</th>
                      <th class="width-15 text-right" translate>income.TOTAL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of InvoiceItems.controls; let i=index" [formGroupName]="i">
                      <td class="text-center">
                        <button type="button" class="btn btn-link m-0" (click)="removeItem(i)">
                          <i class="fa fa-trash text-danger"></i>
                        </button>
                      </td>
                      <td class="relative">
                        <input type="search" formControlName="name" class="form-control no-border"
                          placeholder="{{ 'common.ENTER_ITEM' | translate }}" (selectItem)="onSelectItem($event, item);"
                          [ngbTypeahead]="searchItem" [resultTemplate]="tplItem" [editable]="false"
                          [class.error]="submitted && (!item.controls.name.valid || !item.controls.item_id.valid)" *ngIf="item.controls.id.value === null">

                        <input type="text" formControlName="name" class="form-control no-border"
                            [hidden]="item.controls.id.value === null" readonly>

                        <button type="button" class="btn btn-link m-0" data-toggle="collapse"
                          [attr.data-target]="'#collapse-' + i" style="position: absolute; top: 0; right: 0;">
                          <i class="fa fa-pencil text-dark"></i>
                        </button>

                        <div class="collapse" id="collapse-{{i}}"
                          [class.show]="item.controls.description.value">
                          <textarea class="form-control no-border" formControlName="description"
                            placeholder="Entrer description"></textarea>
                        </div>
                      </td>
                      <td class="">
                        <input type="number" formControlName="quantity" class="form-control text-center"
                          [min]="1" [class.error]="submitted && !item.controls.quantity.valid">
                      </td>
                      <td>
                        <input formControlName="price" class="form-control text-right"
                          mask="separator" [class.error]="submitted && !item.controls.price.valid" readonly>
                      </td>
                      <td class="text-right">
                        <input class="form-control text-right bg-transparent" readonly
                          [value]="item.controls.total.value | currency:'MGA':''">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <button type="button" class="btn btn-link" appXhrBtnIndicator (click)="addItem()">
              Ajouter
            </button>
          </div>
        </div>

        <div class="row">
          <div class="offset-8 col-lg-4">
            <div class="list-group">
              <div class="list-group-item">
                <b class="width-50 inline-block text-right mrg-right-15" translate>income.TOTAL</b>
                <span class="pull-right">
                  {{invoiceService.getPaymentDue(InvoiceItems.value) | currency:'MGA':''}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer border top bg-white text-right pdd-vertical-15 pdd-horizon-30">
    <button type="submit" class="btn btn-info m-0" appXhrBtnIndicator>
      <i class="fa fa-save"></i></button>
  </div>
</form>

<ng-template #tplItem let-r="result" let-t="term">
  <ngb-highlight [result]="r.name + ' [' + r.sku.toUpperCase() + '] - ' + r.quantity" [term]="t">
  </ngb-highlight>
</ng-template>

<ng-template #tplCat let-r="result" let-t="term">
  <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
</ng-template>
