<div class="input-icon" [hidden]="value && display && display !== ''">
  <i class="{{loading ? 'fa fa-spin fa-spinner' : 'ti-search'}}"></i>
  <input type="search" class="form-control mb-0 {{inputClass}}" #inputElt #inputSearch="ngModel"
    [class.error]="submitted && (inputSearch.invalid || !inputSearch.value?.id)"
    [(ngModel)]="search"
    [placeholder]="('nav.SEARCH' | translate) + '...'"
    [resultTemplate]="tpl"
    [ngbTypeahead]="searchContact"
    (selectItem)="onSelectContact($event)"
    [readOnly]="readOnly" required>
</div>

<!-- For display purpose only -->
<div class="input-icon" *ngIf="value && display && display !== ''">
  <i class="{{loading ? 'fa fa-spin fa-spinner' : 'ti-close'}} pointer" title="Clear"
    (click)="clear()" [hidden]="readOnly"
  ></i>
  <input class="form-control {{inputClass}}" [(ngModel)]="display" [readOnly]="readOnly" #inputDisplay>
</div>

<ng-template #tpl let-r="result" let-t="term">
  <ngb-highlight [result]="r?.name" [term]="t"></ngb-highlight>

  <span style="color: #6f748a;" [ngClass]="{ 'd-block': r, 'd-none': !r }">
    {{r?.phone}} - {{r?.id_cin}} -
    {{r?.id_passport}}
  </span>

  <a class="d-block text-white py-2" *ngIf="!r">
    <i class="fa fa-plus-circle" style="color:white;"></i>
    &nbsp;&nbsp;{{'button.ADD' | translate}} {{'contact.CONTACT' | translate}}
  </a>
</ng-template>

