<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-7">
      <div class="card">
        <div class="card-body">
          <form role="form" [formGroup]="searchForm" (submit)="loadRequest()">
            <div class="row">
              <div class="col">
                <div class="form-group mb-0">
                  <label>Code de l'élève</label>
                  <input type="search" name="code" class="form-control" formControlName="code"
                    [class.error]="submitted && searchForm.get('code').status === 'INVALID'" />
                </div>
              </div>
              <div class="col">
                <div class="form-group mb-0">
                  <label>Type</label>
                  <ng-select formControlName="type" [items]="requestTypes" bindLabel="name"
                    [class.error]="submitted && searchForm.get('type').status === 'INVALID'">
                  </ng-select>
                </div>
              </div>
              <div class="col-auto">
                <div class="form-group mb-0">
                  <label>&nbsp;</label>
                  <div>
                    <button class="btn btn-info mr-0" appXhrBtnIndicator>
                      Rechercher
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading" class="text-center">
    <i class="fa fa-spin fa-spinner"></i>
  </div>
  <div *ngIf="!isLoading && requests" class="row justify-content-center">
    <div class="col-lg-7">
      <div class="card">
        <div class="card-block">
          <div class="mb-3">
            <h5 class="font-weight-bold text-uppercase text-info mb-3" translate>Identité</h5>
            <div class="form-group mb-0">
              <label>Nom et prénom:&nbsp;</label>
              {{ contact?.name }}
            </div>
            <div class="form-group mb-0">
              <label>Date de naissance:&nbsp;</label>
              {{ contact?.bio_dob | date: 'dd MMMM yyyy' }}
            </div>
            <div class="form-group mb-0">
              <label>Genre:&nbsp;</label>
              {{ contact?.sex }}
            </div>
          </div>
          <div>
              <h5 class="font-weight-bold text-uppercase text-info mb-3" translate>Dossiers archivés</h5>
              <app-medical-accordion [type]="searchForm.get('type').value" [requests]="requests"></app-medical-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>